<% provide(:title, @user.name) %>

<h1>My page</h1>

<dl>
  <dt>Name</dt>
  <dd><%= @user.name %></dd>
</dl>
<dl>
  <dt>Email</dt>
  <dd><%= @user.email %></dd>
</dl>

<%#= gravatar_for @user, size: 50 %> <%# From users_helper %>

<dl>
  <dt>Avatar</dt>
  <dd>
    <%= image_tag @user.avatar.url, width: 150, height: 150 %>
  </dd>
</dl>