<% provide(:title, @user.name) %>

<h1>Show @User</h1>
<%#= gravatar_for @user, size: 50 %> <%# From users_helper %>
<% if @user.avatar? %>
  <%#= image_tag @user.image.thumb.url %>
  <%= image_tag @user.avatar.url %>
<% else %>
  <%= image_tag 'noimage.gif' %>
<% end %>
<%= @user.name %>
<%= @user.email %>
