<% provide(:title, 'Mementoとは') %>

<h1>Mementoとは</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam quas, blanditiis nesciunt? Perferendis rem porro harum tenetur architecto error inventore, possimus, quas ducimus in tempore quam ipsam earum commodi repudiandae!</p>