<% provide(:title, 'お支払い') %>

<h1 class="page-header">お支払い</h1>

<div class="jumbotron">
  <%= form_for @creditcard, url: confirm_cart_path, html: { class: "form-horizontal" } do |f| %>
    <%= render 'fields', f: f %>
    <dl class="form-group">
      <dd class="col-sm-10 col-sm-offset-2">
        <%= f.submit "注文内容を確認", class: "btn btn-primary" %>
      </dd>
    </dl>
  <% end %>
</div>